version: 2
registries:
  fp-felles: # Gir tilgang til registre innad i nav med fp-felles som inngang (PATen bestemmer)
    type: maven-repository
    url: https://maven.pkg.github.com/navikt/fp-felles
    username: x-access-token
    password: ${{ secrets.PAT }}
  legacy-avhengigheter: # Gir tilgang legacy registre som inngang (PATen bestemmer)
    type: maven-repository
    url: https://maven.pkg.github.com/navikt/legacy-avhengigheter
    username: x-access-token
    password: ${{ secrets.PAT }}
  teamdokumenthandtering-avro-schemas: # Gir tilgang til registre som inngang (PATen bestemmer)
    type: maven-repository
    url: https://maven.pkg.github.com/navikt/teamdokumenthandtering-avro-schemas
    username: x-access-token
    password: ${{ secrets.PAT }}

updates:
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: daily
    open-pull-requests-limit: 10
  - package-ecosystem: maven
    directory: "/"
    registries:
      - fp-felles
      - legacy-avhengigheter
      - teamdokumenthandtering-avro-schemas
    schedule:
      interval: daily
    open-pull-requests-limit: 20
    allow:
      - dependency-type: "all"
