*.iml
*.local
*.localz
*.log
*.versionsBackup
*.zip
dep.txt
.classpath
.idea
.project
.settings
_*.sh
bin
es.properties
es.properties.backup
es-local.properties
target
truststore.jts
conf
.mvn/maven.config
.flattened*
