version: '3.7'
services:
  oracle:
    image : docker.pkg.github.com/navikt/fpsak-autotest/oracle-flattened
    shm_size: 2gb
    ports:
      - 1521:1521
    container_name: oraclefpfordel
    volumes:
      - ./init.d:/docker-entrypoint-initdb.d/
